@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');


:root{
    --clr-Dark-cyan: hsl(158, 36%, 37%);
    --clr-very-Dark-cyan: hsl(158, 43%, 23%);
    --clr-Cream: hsl(30, 38%, 92%);
    --clr-Very-dark-blue: hsl(212, 21%, 14%);
    --clr-Dark-grayish-blue: hsl(228, 12%, 48%);
    --clr-White: hsl(0, 0%, 100%);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 14px;
    background-color: var(--clr-Cream);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

/*card content styling */
.card_content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--clr-White);
    max-width: 650px;
    border-radius: 10px;
    overflow: hidden;
}

.card_image img{
    max-width: 100%;
    display: block;
}

.card_text{
    display: flex;
    flex-direction: column;
    padding: 35px;
}

.item{
    text-transform: uppercase;
    font-size: 12px;
    color: var(--clr-Dark-grayish-blue);
    letter-spacing: 3px;
    font-weight: 500;
    padding-bottom: 20px;
}

.item_title{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 35px;
    padding-bottom: 25px;
}

.item_description{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--clr-Dark-grayish-blue);
    line-height: 25px;
    font-size: 16px;
    padding-bottom: 25px;
}

.item_price{
    display: flex;
    padding-bottom: 30px;
}
.current_price{
    font-family: 'Fraunces', serif;
    color: var(--clr-Dark-cyan);
    font-size: 2em;
}

.previous_price{
    padding-top: 10px;
    padding-left: 10px;
    color: var(--clr-Dark-grayish-blue);
    text-decoration: line-through;
}

.call_to_action{
    font-family: 'Montserrat', serif;
    border: 1px solid var(--clr-White);
    padding: 15px;
    background-color: var(--clr-Dark-cyan);
    color: var(--clr-White);
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
}
.call_to_action img{
    padding-right: 10px;
}

.call_to_action:hover{
    background-color: var(--clr-very-Dark-cyan);
}

/* responsive styling */
@media (max-width:645px){
    .card_content{
        grid-template-columns: 1fr;
        /* display: flex;
        flex-direction: column; */
        margin: 15px;
    }
   
    .card_image img{
        width: 100vw;
        height: 300px;
        object-fit: cover;
    }
    .item, .item_title,.item_description,.item_price{
        padding-bottom: 15px;
    }
    .item_description{
        font-size: 18px;
    }
    
}

@media (max-width:375px){

    .card_image img{
        height: 200px;
    }
    .card_text{
        padding: 16px;
    }
    .item, .item_title,.item_description,.item_price{
        padding-bottom: 7px;
    }
    .item_title{
        font-size: 20px;
        line-height: 20px;
    }
    .item_description{
        font-size: 14px;
        line-height: 17px;
        padding-bottom: 20px;
    }
    .current_price{
        font-size: 19px;
    }
    .previous_price{
        padding-top: 3px;
        font-size: 12px;
    }
    .call_to_action{
        padding: 5px;
        font-size: 0.9em;
    }
}